
#weatherDiv {
    margin-top: 50px;
    width: fit-content;
    opacity: 3;
    /*border: 1px solid black;*/
    position: relative;

}


#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
}


.daily-weather  {
    border: 1px solid black;
    background-color: lightcyan;

}